/*_   _ _____    _    ____  _____ ____  
| | | | ____|  / \  |  _ \| ____|  _ \   
| |_| |  _|   / _ \ | | | |  _| | |_) |  
|  _  | |___ / ___ \| |_| | |___|  _ <    
|_| |_|_____/_/   \_\____/|_____|_| \_\    */

.minicartWrapperContainer--mini-cart-icono {
  position: static;
  float: none;
}
.cartIcon--mini-cart-icono {
  opacity: 0;
}

.minicartContainer :global(.vtex-button) {
  width: 25px;
  height: 43px;
  background: url(https://orbeim.vtexcommercestable.com.br/arquivos/carrito.png) no-repeat;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50%;
}
.minicartContainer :global(.vtex-button):hover {
  width: 25px;
  height: 43px;
  background: url(https://orbeim.vtexcommercestable.com.br/arquivos/carrito.png) no-repeat;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50%;
}

@media (max-width: 600px) {

  .openIconContainer--mini-cart-icono {
    display: flex;
  }
}
/*----------------------------------------------------------------------------------*/
