@media screen and (min-width: 40em) {
  .paper--quickview {
    height: 260px;
    width: 580px;
  }

  .actionsContainer--quickview {
    padding: 0 2rem 2rem 2rem;
  }
}

@media screen and (min-width: 50em) {
  .paper--quickview {
    height: 450px;
    width: 900px;
  }
}

@media screen and (min-width: 75em) {
  .paper--quickview {
    width: calc(100% - 4rem);
    height: auto;
  }
}

@media screen and (min-width: 82em) {
  .actionsContainer--quickview {
    padding: 0 2.5rem 2.5rem 2.5rem;
  }
}

.paper--quickview {
  min-width: 320px;
}

.headerContainer--quickview {
  border: none;
  position: absolute;
  right: 0;
}

.actionsContainer--quickview {
  height: 100%;
  width: 100%;
  transition: box-shadow 150ms ease-in-out, border-top 150ms ease-in-out;
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: transparent;
  box-shadow: -4px 0px 27px -12px transparent;
}

.actionsContentWrapper {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #aaa;
  padding-top: 1.5rem;
}

.contentContainer--quickviewContent {
  padding: 2.5rem 0 2.5rem 2rem;
  overflow-x: hidden;
}

.triggerContainer--quickview {
  padding: 0.75rem;
}

.triggerContainer {
  outline: none;
}

.actionsContainer--quickview:not(.actionsContainerEndOfContent--quickview) {
  border-top-color: rgb(238, 238, 238);
  box-shadow: -4px 0px 27px -12px rgba(0, 0, 0, 0.64);
}

.actionsContainer--quickview:not(.actionsContainerEndOfContent--quickview)
  .actionsContentWrapper {
  border-top-color: transparent;
}

.closeButton {
  padding-right: 1rem;
}

.paper--product-gifts {
  padding: 1.5rem;
}

.paper--modal_popUp_desktop,
.paper--modal_popUp_tablet{
  background: none;
}
.paper--modal_popUp_mobile{
  max-width: fit-content !important;
  max-height: 84% !important;
  display: flex;
  justify-content: center;
  background: none;
}
.backdrop--modal_popUp_desktop,
.backdrop--modal_popUp_tablet,
.backdrop--modal_popUp_mobile{
  background-color: black;
}
/*
  __  __          _ _          ___                        
 |  \/  | ___  __| (_) __ _   / _ \ _   _  ___ _ __ _   _ 
 | |\/| |/ _ \/ _` | |/ _` | | | | | | | |/ _ \ '__| | | |
 | |  | |  __/ (_| | | (_| | | |_| | |_| |  __/ |  | |_| |
 |_|  |_|\___|\__,_|_|\__,_|  \__\_\\__,_|\___|_|   \__, |
                                                    |___/ 

*/
@media (max-width: 600px) {
  .paperScrollContent {
    max-width: 8rem;
  }

}


/*--------------QA DESPUES DEL 09-05-2022*/

.headerContainer--x-de-cerrado {
  position: absolute;
  right: 0;
}

.headerContainer--x-de-cerrado {border: none;}

@media (max-width: 700px) {
.headerContainer--x-de-cerrado {  position: absolute;  right: 0;  top: 5%;  border: none;}
}