.row--menu-row {
  padding-right: 24px;
}

.row--menu-row .rowContainer {
  align-items: flex-start;
}

.row--payment-methods {
  padding-top: 16px;
}


/*---------------------------------------*/
/* footer celular                        */
/*---------------------------------------*/

.footerLayout--footer--mobile{
  /*background-image: url("https://wallpaperstock.net/wallpapers/thumbs1/36259hd.png");*/
  background-color: #001e49;
}

.footerLayout--footer--desktop{
  /*background-image: url("https://wallpaperstock.net/wallpapers/thumbs1/36259hd.png");*/
  background-color: #001e49; /*Se agrega el Background al Footer*/
  background-image: url('https://epartner.vtexassets.com/assets/vtex/assets-builder/vtex.store-theme/4.4.2/img/shape-bg.png');
  background-size: 79%;
  background-repeat: no-repeat;
  background-position: 160% 63%;
}

/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/


@media screen and (max-width: 700px) {
.footerLayout--footer--mobile {
  background-color: #001e49;
  background-image: url(https://epartner.vtexassets.com/assets/vtex/assets-builder/vtex.store-theme/4.4.2/img/shape-bg___d8ee7ee….png);
  background-size: 309%;
  background-position: bottom;
}
}