.sliderLayoutContainer {
  justify-content: center;
}
.sliderLayoutContainer--carousel {
  background-color: #ffffff;
}

.sliderTrackContainer {
  max-width: 100%;
}

.paginationDotsContainer {
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.layoutContainer--shelf {
  margin-top: 20px;
  margin-bottom: 20px;
}

.slide--shelf {
  margin-bottom: 25px;
  padding-left: .5rem;
  padding-right: .5rem;
}


/*------------------------------------------*/
/* phone vitrinas                          */
/*----------------------------------------*/
.slideChildrenContainer--carousel--phone{

  width: 208px;
  margin-left: 4%;
  height: 100%;
}

/*-------------------------------------*/


/*------------------------------------------*/
/* Slider principal                        */
/*----------------------------------------*/
.paginationDotsContainer.paginationDotsContainer--carousel {
  /*display: none;*/
  margin: 35px;
}

.paginationDot.paginationDot--carousel.paginationDot--isActive.paginationDot--carousel--isActive {
  background-color: #fec236;
  border-radius: 2px;
  padding: 0px 31px 4px;
}

.paginationDot.paginationDot--carousel {
  border-radius: 4px;
  padding: 0px 6px 11px;
}
/*-------------------------------------*/


/*------------------------------------------*/
/* phone vitrinas                          */
/*----------------------------------------*/
.flexRow--images-nuestras-marcas-b {
  padding: 0 0px 5%;
}
/*-------------------------------------*/

.paginationDot--isActive.paginationDot--carousel--marcas--isActive {background: black;width: 32px !important;border-radius: 2px;}

.caretIcon {color: transparent;}
.arrowLeft .caretIcon {background-image: url(https://orbeim.vteximg.com.br/arquivos/flecha-izquierda-blanca.png);background-position: center;background-size: 85%;background-repeat: no-repeat;filter: brightness(0.8);}
.sliderRightArrow .caretIcon {background-image: url(https://orbeim.vteximg.com.br/arquivos/flecha-derecha-blanca.png);background-position: center;background-size: 85%;background-repeat: no-repeat;filter: brightness(0.8);}

.sliderLeftArrow .caretIcon {color: transparent;background-image: url(https://orbeim.vteximg.com.br/arquivos/flecha-izquierda-blanca.png);background-position: center;background-size: 85%;background-repeat: no-repeat;filter: brightness(0.8);}
.sliderRighttArrow .caretIcon {color: transparent;background-image: url(https://orbeim.vteximg.com.br/arquivos/flecha-derecha-blanca.png);background-position: center;background-size: 85%;background-repeat: no-repeat;filter: brightness(0.8);}

.slide--post-Marcas-slider:hover {width: 6.5% !important;transition: 1s;}
.slide--post-Marcas-slider {transition: 1s;}

.slide--post-Marcas-slider:hover {width: 6.5% !important;transition: 1s;}

.caretIcon:hover {filter: brightness(0.2);}

.imageElementLink--carousel {
  width: 100%;
}

@media (max-width: 700px) {
.sliderTrack.sliderTrack--Mozaico-Cat.sliderTrack--slider {margin: 10px 0;}
.slide.slide--Mozaico-Cat {margin: 2px;}
.sliderLayoutContainer--carousel--marcas {margin: 10px 0 45px;}
.paginationDotsContainer.paginationDotsContainer--carousel--marcas {position: absolute;top: 107%;}

.slide--post-Marcas-slider:hover {width: 3.5% !important;}

.paginationDot--Shelf__Slider--laptops--isActive {background: #001e49;width: 35px !important;border-radius: 2px;}
.paginationDotsContainer--Shelf__Slider {top: 100%;}
.slideChildrenContainer--carrusel-final-mobile {align-items: baseline;width: 94%;margin: 17px auto 0;}
}